[Unit]
Description=llaas service
Wants=network-online.target
After=network-online.target
[Service]
User=llaas
Group=llaas
Type=simple
StandardOutput=null
WorkingDirectory=/home/llaas
ExecStart=/usr/bin/python3 -m socketify api:run --workers 2 --port 8888
[Install]
WantedBy=multi-user.target